{{ if eq .chezmoi.os "darwin" -}}
#!/bin/zsh

(( $+commands[brew] )) || return 1

echo "Tapping brew repositories...\n"
taps=(
{{- range .pkg.darwin.taps }}
  {{ . | quote }}
{{- end }}
)
for tap in "$taps[@]"; do
  brew tap $tap
done

echo "Installing brews and casks...\n"

brew bundle -q --no-upgrade -v --file=/dev/stdin <<EOF
{{ range .pkg.darwin.brews -}}
brew {{ . | quote }}
{{ end -}}
{{ range .pkg.darwin.casks -}}
cask {{ . | quote }}
{{ end -}}
EOF

# mise tools

echo "\nInstalling mise tools...\n"

mise install {{ range .pkg.darwin.mise }}{{ . }} {{ end }}

eval "$(mise activate)"

uv_tools=(
{{- range .pkg.darwin.uvTools }}
  {{ . | quote }}
{{- end }}
)

echo "\nInstalling uv tools...\n"

for pkg in "${uv_tools[@]}"; do
  eval "uv tool install $pkg"
done

echo "\nDone\n"

{{ end -}}
